@{
  Layout = "_Layout";
}

@model Library.Models.Patron
@using Library.Models

<h2>Rent a book from the library</h2>

<h4>Are you sure you want to rent a book from the library @Html.DisplayFor(model => model.Name)?</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.Label("Select book")
    <select>
      @foreach (Book book in ViewBag.Books) {
        <option id="book-@book.BookId">@book.Title</option>
      }
    </select>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>